<!-- <%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= form.label :venue_id %>
    <%= form.collection_select :venue_id, Venue.all, :id, :name%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %> -->

<%= form_for @booking do |f| %>
<div>
  <%= f.label :name, "description" %>
  <%= f.text_field :name %> 
</div>
<div>
  <%= f.datetime_select :start_time %>
  <%= f.hidden_field :venue_id, :value => current_user.id %>
</div>
  <%= f.submit %>
<%end%>