
  <h1>Sign Up</h1>
  <a href= "/signup/venues" class="btn btn-default">Sign in as a Venue</a>
  <a href= "/signup/musicians" class="btn btn-default">Sign in as a Musician</a>
  <%= form_tag "/venues", method: :post do %>
  <div>
    <%= label_tag :name %>
    <%= text_field_tag "venue[name]" %>
  </div>
  <div>
    <%= label_tag :email %>
    <%= text_field_tag "venue[email]" %>
  </div>
  <div>
    <%= label_tag :password %>
    <%= password_field_tag "venue[password]" %>
  </div>
  <div>
    <%= label_tag :password_confirmation %>
    <%= password_field_tag "venue[password_confirmation]" %>
  </div>
  <div>
    <%= label_tag :name %>
    <%= text_field_tag "venue[name]" %>
  </div>
  <div>
    <%= submit_tag "Create Account" %>
  </div>
  <% end %>